/* Basic body styling */
body {
	font: Arial;
	color: #d6cfcf;
	text-align: center;
}
.text-background {
    background: #333333b8;
    padding: 1em 2em;
    border-radius: 12px;
    display: inline-block;
    font-weight: bold;
}

/* Headings styling */
h1, h2, h3, h4, h5, h6 {
	font: Arial;
	color: #d6cfcf;
	margin-top: 1.2em;
	margin-bottom: 0.5em;
}

/* Remove default list styles and make the mouse a pointer for details and summary */
details summary {
    list-style: none;
    cursor: pointer;
}
details img {
    cursor: pointer;
}

/* Navbar styling */
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 3px;
  overflow: hidden;
  background-color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}
/* Navbar Left */
.navbar .nav-left {
  float: left;
  background: rgba(76, 75, 75, 0.703);
  display: block;
	color: Red;
	padding: 1px 20px;
	text-decoration: none;
	font-weight: bold;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.navbar .nav-left a {
  display: block;
  color: Red;
  padding: 20px 1px;
  text-decoration: none;
  font-weight: bold;
}
/* Navbar Right */
.navbar .nav-right {
  float: right;
  background: rgba(76, 75, 75, 0.703); 
}
.navbar .nav-right a {
  display: block;
  color: white;
  padding: 20px 16px;
  text-decoration: none;
  font-weight: bold;
}
.navbar .nav-right a:hover {
  background-color: #111111;
}

.nav-left, .nav-right {
  display: flex;
  align-items: center;
  font-size: larger;
}